<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pikachu.record">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    C<!--ontext.MODE_WORLD_READABLE可读文件，外部程序可以阅读不可以修改

    Context.MODE_WORLD_WRITEABLE可写文件，外部程序可以修改不可以读取-->

        
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        
        
        <activity android:name=".activity.mood.MoodActivity"/>
        <activity android:name=".activity.home.HomeActivity" />
        <activity android:name=".activity.diary.DiaryActivity" />
        <activity android:name=".activity.account.AccountActivity" />
        <activity android:name=".activity.task.TaskActivity" />
            
            
        
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
            
            
            
        </activity>
    </application>

</manifest>
